*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

body{
  position: absolute;
  width: 100%;
}

header{
  width: 100%;
  height: 80px;
  background: #47817F;
  position: fixed; 
  top: 0;
  z-index: 1000;
}

.logo{
  float: left;
  color: white;
  font-size: 32px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

.menu{
  float: right;
}
.galeri-tempat{
  margin-top: 80px;
}

ul li{
  margin-right: 12px;
  display: inline-block;
}

ul li a{
  color: white;
  line-height: 80px;
  margin: 0 8px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

ul li a.active, ul li a:hover{
  background-color: darkseagreen;
  transition: .3s;
}

label #btn, label #close{
  font-size: 32px;
  float: right;
  color: white;
  margin-left: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.Main{
  margin-top: 80px;
}

@media (max-width: 1080px){
  label #btn{
    display: block;
    user-select: none;
    margin-right: 20px;
  }

  ul{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: auto;
    right: -100%;
    margin-right: 0;
    top: 80px;
    text-align: center;
    transition: .5s;
    background-color: aliceblue;
  }

  ul li{
    display: block;
    line-height: 10px;
    margin: 0 0;
  }

  ul li a{
    color: dimgrey;
  }

  #check:checked ~ ul{
    right: 0;
  }

  #check:checked ~ label #btn{
    display: none;
  }

  #check:checked ~ label #close{
    display: block;
    margin-right: 20px;
  }

  ul li a:hover{
    background-color: darkseagreen;
    transition: .3s;
  }

  .fill0, .fill4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(image/coffeehouse-2600877.jpg);
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    text-align: center;

  }

  .fill0 img{
    margin: 26px 0;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
  }

  .fill1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .fill1-img{
    text-align: center;
    padding: 20px;
  }

  .fill1-img img{
    width: max-content;
    height: max-content;
    max-width: 100%;
    border-radius: 10px;
  }

  .fill1-text{
    padding: 20px;
  }

  .fill1-text h2{
    font-size: 28px;
  }

  .fill1-text p{
    font-size: 22px;
    text-align: justify;
  }

  .fill2{
    padding: 20px;
    margin-top: 40px;
    font-size: 22px;
    text-align: justify;
  }

  .fill3{
    text-align: center;
    margin: 2% 0;
    padding: 20px;
  }

  .img-list{
    text-align: center;
    padding: 20px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .img{
    display: inline-block;
    padding: 5px;
    margin: 10px;
  }

  .img:hover{
    background-color: aquamarine;
    border-radius: 10px;
  }


  .img a{
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .img a:hover{
    text-decoration: none;
  }

  .img-list img{
    width: max-content;
    height: max-content;
    max-width: 100%;
    border-radius: 10px;
    margin: 0px 0px;
  }

  .message{
    margin: 10px 20px;
    text-align: center;
  }

  .message h2{
    padding: 5px;
  }

  .message a{
    margin-top: 20px;
    font-size: 20px;
    /* position:relative; */
    /* width: auto; */
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px rgb(50, 141, 111);
    background:rgb(50, 134, 106);
    text-align:center;
    padding:16px 100px 14px;
    transition: all 0.1s;
    box-shadow: 0px 6px 0px rgb(42, 107, 86);
  }

  .btn:active{
    box-shadow: 0px 2px 0px rgb(42, 107, 86);
    position:relative;
    top:4px;
  }

  footer{
    height: fit-content;
    padding: 0px 0;
    background: #47817F;
    bottom: 0;
    width: 100%;
    margin: 0%;
    color: white;
    text-align: center;
  }

  footer img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  footer h1{
    font-weight: normal;
  }

  .rightfooter{
    text-align: center;
  }

  .container{
    padding: 20px;
    display: inline-block;

  }

  .brandfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote{
    font-size: 28px;
    font-style: italic;
    margin-bottom: 10px;
  }

  .btn-wrapper {
    margin: 5px 0;
  }

  .btn-wrapper p {
    margin: 10px 0;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

  .instagram {
    background-color: #C13584;
    margin-right: 10px;
  }

  .twitter {
    background-color: #55acee;
  }

  .btn {
    padding: 24px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 100%;
  }

  .btn:hover {
    opacity: 1;
  }

  .btn-wrapper span{
    font-size: 20px;
  }

  .fa{
    border-radius: 0.25em; padding: 0.2em
  }

  .galeri-tempat {
    margin-top: 20px;
    height: 1150px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
    margin: 2% 0;
    padding: 20px;
  }

  .container-galeri {
    width: auto;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .galeri { 
    float: left;
    width: 100%;
  }
  
  .foto-galeri {
    position: relative;
  }
  
  .foto-galeri p {
    position: absolute;
    top: 90px;
    width: 50%;
    color: white;
  }
  
  .caption {
    width: auto;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
}


@media (min-width: 1080px){

  .fill0, .fill4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(image/coffeehouse-2600877.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    text-align: center;
  }

  .fill0 img{
    margin: 36px 0;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
  }

  .fill1{
    display: flex;
    margin: 2% 10%;
  }

  .fill1-img{
    padding: 20px;
    max-width: 100%;
    height: auto;
  }

  .fill1-img img{
    border-radius: 10px;
  }

  .fill1-text{
    padding: 20px;
  }

  .fill1-text h2{
    font-size: 32px;
  }

  .fill1-text p{
    font-size: 20px;
    text-align: justify;
  }

  .fill2{
    padding: 20px;
    margin: 2% 10%;
    font-size: 20px;
    text-align: justify;
  }

  .fill3{
    text-align: center;
    margin: 2% 2%;
    padding: 20px;
    /* width: max-content;
    height: max-content; */
    max-width: 100%;
  }

  .img-list{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .img{
    display: inline-block;
    padding: 5px;
    margin: 10px;
  }

  .img:hover{
    background-color: aquamarine;
    border-radius: 10px;
  }

  .img a{
    font-size: 20px;
    font-weight: bold;
  }

  .img a:hover{
    text-decoration: none;
  }

  .img-list img{
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin: 0px 20px;
  }

  .message{
    margin: 10px 20px;
    text-align: center;
  }

  .message h2{
    padding: 5px;
  }
  .message a{
    margin-top: 20px;
    font-size: 20px;
    /* position:relative; */
    /* width: auto; */
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px rgb(50, 141, 111);
    background:rgb(50, 134, 106);
    text-align:center;
    padding:16px 160px 14px;
    transition: all 0.1s;
    box-shadow: 0px 6px 0px rgb(42, 107, 86);
  }

  .btn:active{
    box-shadow: 0px 2px 0px rgb(42, 107, 86);
    position:relative;
    top:4px;
  }

  footer{
    height: fit-content;
    padding: 0px 0;
    background: #47817F;
    bottom: 0;
    width: 100%;
    margin: 0%;
    color: white;
  }

  footer img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  footer h1{
    font-weight: normal;
    margin-left: 10px;
  }

  .rightfooter{
    text-align: center;
  }

  .container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
  }

  .brandfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .quote{
    font-size: 28px;
    font-style: italic;

  }

  .btn-wrapper {
    margin: 20px 0;
  }

  .btn-wrapper p {
    margin: 10px 0;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

  .instagram {
    background-color: #C13584;
    margin-right: 10px;
  }

  .twitter {
    background-color: #55acee;
  }

  .btn {
    padding: 24px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 100%;
  }

  .btn:hover {
    opacity: 1;
  }

  .btn-wrapper span{
    font-size: 20px;
  }

  .fa{
    border-radius: 0.25em; padding: 0.2em
  }

  .galeri-tempat {
    margin-top: 20px;
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .container-galeri {
    width: auto;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .galeri {
    float: left;
    width: 25%;
  }
  
  .foto-galeri {
    position: relative;
  }
  
  .foto-galeri p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .caption {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }


}

@media (min-width: 1440px){

  .fill0, .fill4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(image/coffeehouse-2600877.jpg);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    text-align: center;
  }

  .fill0 img{
    margin: 61px 0;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
  }

  .fill1{
    display: flex;
    margin: 2% 10%;
  }

  .fill1-img{
    padding: 20px;
    max-width: 100%;
    height: auto;
  }

  .fill1-img img{
    border-radius: 10px;
    width: 420px;
    height: 270px;
  }

  .fill1-text{
    padding: 20px;
  }

  .fill1-text h2{
    font-size: 36px;
  }

  .fill1-text p{
    font-size: 24px;
    text-align: justify;
  }

  .fill2{
    padding: 20px;
    margin: 2% 10%;
    font-size: 24px;
    text-align: justify;
  }


  .fill3{
    text-align: center;
    margin: 2% 2%;
    padding: 20px;
    /* width: max-content;
    height: max-content; */
    max-width: 100%;
  }

  .img-list{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .img{
    display: inline-block;
    padding: 5px;
    margin: 10px;
  }

  .img:hover{
    background-color: aquamarine;
    border-radius: 10px;
  }

  .img a{
    font-size: 20px;
    font-weight: bold;
  }

  .img a:hover{
    text-decoration: none;
  }

  .img-list img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0px 20px;
  }

  .message{
    margin: 10px 20px;
    text-align: center;
  }

  .message h2{
    padding: 5px;
  }
  .message a{
    margin-top: 20px;
    font-size: 20px;
    /* position:relative; */
    /* width: auto; */
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px rgb(50, 141, 111);
    background:rgb(50, 134, 106);
    text-align:center;
    padding:16px 180px 14px;
    transition: all 0.1s;
    box-shadow: 0px 6px 0px rgb(42, 107, 86);
  }

  .btn:active{
    box-shadow: 0px 2px 0px rgb(42, 107, 86);
    position:relative;
    top:4px;
  }

  footer{
    height: fit-content;
    padding: 0px 0;
    background: #47817F;
    bottom: 0;
    width: 100%;
    margin: 0%;
    color: white;
  }

  footer img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  footer h1{
    font-weight: normal;
    margin-left: 10px;
  }

  .rightfooter{
    text-align: center;
  }

  .container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
  }

  .brandfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .quote{
    font-size: 28px;
    font-style: italic;

  }

  .btn-wrapper {
    margin: 20px 0;
  }

  .btn-wrapper p {
    margin: 10px 0;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

  .instagram {
    background-color: #C13584;
    margin-right: 10px;
  }

  .twitter {
    background-color: #55acee;
  }

  .btn {
    padding: 24px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 100%;
  }

  .btn:hover {
    opacity: 1;
  }

  .btn-wrapper span{
    font-size: 20px;
  }

  .fa{
    border-radius: 0.25em; padding: 0.2em
  }

  .galeri-tempat {
    margin-top: 20px;
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .container-galeri {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .galeri {
    float: left;
    width: 25%;
  }
  
  .foto-galeri {
    position: relative;
  }
  
  .foto-galeri p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .caption {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
}

.fill0 img{
    z-index: 1000;
  }
